<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="./css/home.css">
    </head>

    <body>
        <div class="main-display">
            <div id="heading">
                <h1>TO DO APP</h1>
            </div>
            <div id="info">
                <div id="category">

                </div>
                <div id="due-date">

                </div>
            </div>
            <div id="buttons">

            </div>
            <div id="tasks">
                <div class="cards">

                </div>
            </div>
        </div>
    </body>
</html>